# Python / Robot
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.env
venv/
.venv/

# Robot logs
log.html
report.html
output.xml
results/
allure-report/
output/
*.webm

# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# IDE / Tools
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project-specific
csv/
Dockerfile
tests
